<div class="glass-box sixteen columns">
	<h1>Create Match</h1>
	<form>
		<div class="five columns">
			<label>Host:</label>
			<select name='host_id' id='host-select' style='width:100%'></select>
		</div>

		<div class="clear"></div>
		<div class="row"></div>

		<div class="five columns">
			<label>Guest:</label>
			<select name='guest_id' id='guest-select' style='width:100%'></select>
		</div>

		<div class="clear"></div>
		<div class="row"></div>

		<div class="four columns">
			<label>Date</label>
			<input type="text" name="date" value='' />
		</div>

		<div class="four columns">
			<label>Time</label>
			<input type="text" name="time" value='' />
		</div>

		<div class="clear"></div>
		<div class="row"></div>

		<div class="eight columns">
			<label>Location</label>
			<input type="text" name="location" value='Sandbox' />
		</div>

		<div class="clear"></div>
		<div class="row"></div>

		<p>
			<input type="submit" value="Add Match" />
		</p>
	</form>
</div>	