<?xml version="1.0"?>
<routes>
  <route>
    <url>/^\/clubs\/?$/</url>
    <controller>clubs</controller>
    <view>index</view>
  </route>
  <route>
    <url>/^\/clubs\/list\/(?P&lt;page&gt;\d+)\/?$/</url>
    <controller>clubs</controller>
    <view>index</view>
  </route>
  <route>
    <url>/^\/clubs\/new\/?$/</url>
    <controller>clubs</controller>
    <view>new</view>
  </route>
  <route>
    <url>/^\/clubs\/create\/?$/</url>
    <controller>clubs</controller>
    <view>create</view>
  </route>
  <route>
    <url>/^\/clubs\/(?P&lt;id&gt;\d+)$/</url>
    <controller>clubs</controller>
    <view>show</view>
  </route>
  <route>
    <url>/^\/clubs\/(?P&lt;id&gt;\d+)\/edit\/?$/</url>
    <controller>clubs</controller>
    <view>edit</view>
  </route>
  <route>
    <url>/^\/clubs\/alter\/?$/</url>
    <controller>clubs</controller>
    <view>alter</view>
  </route>
  <route>
    <url>/^\/clubs\/(?P&lt;id&gt;\d+)\/delete\/?$/</url>
    <controller>clubs</controller>
    <view>delete</view>
  </route>
  <route>
    <url>/^\/players\/?$/</url>
    <controller>players</controller>
    <view>index</view>
  </route>
  <route>
    <url>/^\/players\/list\/(?P&lt;page&gt;\d+)\/?$/</url>
    <controller>players</controller>
    <view>index</view>
  </route>
  <route>
    <url>/^\/players\/new\/?$/</url>
    <controller>players</controller>
    <view>new</view>
  </route>
  <route>
    <url>/^\/players\/create\/?$/</url>
    <controller>players</controller>
    <view>create</view>
  </route>
  <route>
    <url>/^\/players\/(?P&lt;id&gt;\d+)$/</url>
    <controller>players</controller>
    <view>show</view>
  </route>
  <route>
    <url>/^\/players\/(?P&lt;id&gt;\d+)\/edit\/?$/</url>
    <controller>players</controller>
    <view>edit</view>
  </route>
  <route>
    <url>/^\/players\/alter\/?$/</url>
    <controller>players</controller>
    <view>alter</view>
  </route>
  <route>
    <url>/^\/players\/(?P&lt;id&gt;\d+)\/delete\/?$/</url>
    <controller>players</controller>
    <view>delete</view>
  </route>
  <route>
    <url>/^\/matches\/?$/</url>
    <controller>matches</controller>
    <view>index</view>
  </route>
  <route>
    <url>/^\/matches\/list\/(?P&lt;page&gt;\d+)\/?$/</url>
    <controller>matches</controller>
    <view>index</view>
  </route>
  <route>
    <url>/^\/matches\/new\/?$/</url>
    <controller>matches</controller>
    <view>new</view>
  </route>
  <route>
    <url>/^\/matches\/create\/?$/</url>
    <controller>matches</controller>
    <view>create</view>
  </route>
  <route>
    <url>/^\/matches\/(?P&lt;id&gt;\d+)$/</url>
    <controller>matches</controller>
    <view>show</view>
  </route>
  <route>
    <url>/^\/matches\/(?P&lt;id&gt;\d+)\/edit\/?$/</url>
    <controller>matches</controller>
    <view>edit</view>
  </route>
  <route>
    <url>/^\/matches\/alter\/?$/</url>
    <controller>matches</controller>
    <view>alter</view>
  </route>
  <route>
    <url>/^\/matches\/(?P&lt;id&gt;\d+)\/delete\/?$/</url>
    <controller>matches</controller>
    <view>delete</view>
  </route>
  <route>
    <url>/^\/?$/</url>
    <controller>application</controller>
    <view>index</view>
  </route>
</routes>
