<div class='glass-box clearfix'>
	<p><a href="#clubs" class="small-button">Back</a></p>

	<div class="six columns">
		<h4>Team Details</h4>
		<div class="row"></div>

		<ul class='list-info'>
			<li><strong>Name:</strong> <%= name %></li>
			<li><strong>Foundation Date:</strong> <%= foundationDate %></li>
			<li>
				<div class="progress_wrapper red">
				<strong>Overall:</strong>
					<progress max='360' value='<%= overall %>' class='<%= progressColor %>'></progress>
				</div>
			</li>
		</ul>
	</div>

	<div class="four columns">
		<h4>First Team</h4>
		<div class="row"></div>
		<ul class='first-team-list list'>
			
		</ul>
	</div>

	<div class="four columns">
		<h4>Reserve Team</h4>
		<div class="row"></div>
		<ul class='first-team-list list'>
			
		</ul>
	</div>
</div>
